# Smart charger
allow system_server sysfs_battery_supply:file rw_file_perms;

allow system_server sensors_efs_file:file rw_file_perms;

allow system_server vendor_file:file execmod;
